---
import "../../styles/components/welcometext.css";
---

<section class="welcome-text">
  <div class="container">

    <p>
      Welcome to <span class="mg">Marsal</span> <span class="mg">Accountants</span>, a modern, client-focused accountancy firm based in Paisley, Renfrewshire.
    </p>

    <p>
      We support <span class="mg">individuals</span>, <span class="mg">startups</span>, and <span class="mg">growing businesses</span> across Paisley, Glasgow, and Central Scotland with reliable, affordable, and expert accounting services.
    </p>

  </div>
</section>