---
import "../../../styles/pages/resources/our-fee.css";
import "../../../styles/themes/tools.css";  // Green theme for resources pages
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactUs from "../../components/ContactUs.astro";
---

<BaseLayout title="Our Fees – Transparent Fixed Prices" theme="resources">
  <div class="pricing-fees-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Page hero -->
          <header class="fees-hero">
            <h1 class="fees-hero-title">Our Fees</h1>
            <p class="fees-hero-subtitle">Transparent, fixed pricing for accounts, tax, VAT, payroll and more. No surprises.</p>
            <div class="divider-content"></div>
          </header>

          <!-- Accordion – full pricing tables -->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            
            <!-- 1. ACCOUNTS & TAX RETURNS -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ACCOUNTS &amp; TAX RETURNS
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <h5>Accounts &amp; Tax Returns: Fixed Annual Fees</h5><br />
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>Annual Turnover ex vat</th>
                          <th>For Sole Trader/Partnership<br />Our Annual fees ex vat</th>
                          <th>For Limited Companies <br />Our Annual fees ex vat</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr><td>£ 0k – £ 90k</td><td>£ 680</td><td>£ 850</td></tr>
                        <tr><td>£ 91k – £ 99k</td><td>£ 830</td><td>£ 950</td></tr>
                        <tr><td>£ 100k – £ 149k</td><td>£ 880</td><td>£ 1,080</td></tr>
                        <tr><td>£ 150k – £ 249k</td><td>£ 980</td><td>£ 1,230</td></tr>
                        <tr><td>£ 250k – £ 349k</td><td>£ 1,280</td><td>£ 1,480</td></tr>
                        <tr><td>£ 350k – £ 499k</td><td>£ 1,380</td><td>£ 1,580</td></tr>
                        <tr><td>£ 500k – £ 749k</td><td>£ 1,580</td><td>£ 1,780</td></tr>
                        <tr><td>£ 750k – £ 999k</td><td>£ 1,780</td><td>£ 1,980</td></tr>
                        <tr><td>£ 1m +</td><td>Negotiable for all services</td><td>Negotiable for all services</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <p>For this fixed fee</p>
                  <p>We will prepare your Annual Accounts &amp; Tax Returns. We will discuss your draft accounts at your business premises and thereafter finalise.</p>
                  <p>We will submit your Tax returns electronically to H M Revenue &amp; Customs.</p>
                  <p>We will include all types of incomes &amp; relieves: Employment, Self Employment, Dividends, Rent, Interest, Pension, Gift, Capital Gains, Capital Losses, Donations, Overseas Income etc.</p>
                  <p>We will discuss your Tax Return &amp; Tax liability with you.</p>
                  <p>We will also do tax planning for you at this stage.</p>
                  <h4>We will act as your Agents with HMRC</h4><br />
                  <h4>FOR LIMITED COMPANIES</h4>
                  <div class="divider-content-small"></div>
                  <ul class="content-bullet">
                    <li>We will prepare your Corporation Tax Return.</li>
                    <li>We will be happy to be your registered office.</li>
                    <li>We will submit your accounts to Companies House.</li>
                    <li>We will submit your Company Confirmation Statement to Companies House for £60 ex vat.</li>
                    <li>We will submit accounts &amp; corporation tax return to HM Revenue &amp; Custom.</li>
                  </ul>
                  <br />
                  <h5>For more Details please make inquiry with our <a href="https://marsalaccountants.co.uk/contact/">Enquiry Form</a>, we will contact you within 48 business hours</h5>
                </div>
              </div>
            </div>

            <!-- 2. MANAGEMENT ACCOUNTS -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    MANAGEMENT ACCOUNTS
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  <h5>Our Annual Fees : Quartely Management Accounts <br /> (For Monthly add £ 800)</h5><br />
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr><th>Annual Turnover ex vat</th><th>Our Annual Fee ex vat</th></tr>
                      </thead>
                      <tbody>
                        <tr><td>£ 0 – £ 249k</td><td>£ 380</td></tr>
                        <tr><td>£ 250k – £ 499k</td><td>£ 580</td></tr>
                        <tr><td>£ 500k – £ 749k</td><td>£ 680</td></tr>
                        <tr><td>£ 750k – £ 999k</td><td>£ 780</td></tr>
                        <tr><td>£ 1m to £ 1.24m</td><td>£ 980</td></tr>
                        <tr><td>£ 1.25m- £ 1.74m</td><td>£ 1080</td></tr>
                        <tr><td>£ 1.75m – £ 2.24m</td><td>£ 1180</td></tr>
                        <tr><td>£ 2.25m – £ 2.99m</td><td>£ 1280</td></tr>
                        <tr><td>£ 3m to £ 3.49m</td><td>£ 1380</td></tr>
                        <tr><td>£ 3.5m to £ 3.99m</td><td>£ 1480</td></tr>
                        <tr><td>£ 4m to £ 4.99m</td><td>£ 1580</td></tr>
                        <tr><td>£ 5m to £ 5.99m</td><td>£ 1680</td></tr>
                        <tr><td>£ 6m to £ 6.99m</td><td>£ 1780</td></tr>
                        <tr><td>£ 7m +</td><td>Negotiable for all services</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <h5>For more Details please make inquiry with our <a href="https://marsalaccountants.co.uk/contact/">Enquiry Form</a>, we will contact you within 48 business hours</h5>
                </div>
              </div>
            </div>

            <!-- 3. VALUE ADDED TAX (including MTD) -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    VALUE ADDED TAX (Including Making Tax Digital – MTD)
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  <h5>VAT Returns : Fixed Annual Fees</h5><br />
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead><tr><th>Annual Turnover ex vat</th><th>Our Annual Fee ex vat</th></tr></thead>
                      <tbody>
                        <tr><td>£ 0k – £ 99k</td><td>£ 525</td></tr>
                        <tr><td>£ 100k – £ 149k</td><td>£ 700</td></tr>
                        <tr><td>£ 150k – £ 249k</td><td>£ 830</td></tr>
                        <tr><td>£ 250k – £ 349k</td><td>£ 930</td></tr>
                        <tr><td>£ 350k – £ 499k</td><td>£ 1130</td></tr>
                        <tr><td>£ 500k – £ 749k</td><td>£ 1580</td></tr>
                        <tr><td>£ 750k – £ 999k</td><td>£ 1880</td></tr>
                        <tr><td>£1m – £ 1.24m</td><td>£ 2300</td></tr>
                        <tr><td>£ 1.25m – £ 1.74m</td><td>£ 2480</td></tr>
                        <tr><td>£ 1.75m – £ 2.24m</td><td>£ 2680</td></tr>
                        <tr><td>£ 2.25m – £ 2.99m</td><td>£ 2880</td></tr>
                        <tr><td>£ 3m – £ 3.49m</td><td>£ 3080</td></tr>
                        <tr><td>£ 3.5m – £ 3.99m</td><td>£ 3280</td></tr>
                        <tr><td>£ 4m – £ 4.99m</td><td>£ 3680</td></tr>
                        <tr><td>£ 5m – £ 5.99m</td><td>£ 4080</td></tr>
                        <tr><td>£ 6m – £ 6.99m</td><td>£ 4480</td></tr>
                        <tr><td>£ 7m+</td><td>Negotiable for all services</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <h5>For this fixed fee</h5>
                  <div class="divider-content-small"></div>
                  <ul class="content-bullet">
                    <li>We will complete your monthly/quaterly/annual VAT Return</li>
                    <li>We will use the most Favourable VAT scheme</li>
                    <li>We will complete all the VAT Box figures for you</li>
                    <li>We will discuss your VAT &amp; thereafter finalise</li>
                    <li>We will forward a report with our full workings for VAT Inspector</li>
                    <li>We will act as your Agents with HM Revenue &amp; Customs</li>
                  </ul>
                  <br />
                  <h5>For more Details please make inquiry with our <a href="https://marsalaccountants.co.uk/contact/">Enquiry Form</a>, we will contact you within 48 business hours</h5>
                </div>
              </div>
            </div>

            <!-- 4. PAYROLL -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    PAYROLL
                  </a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                  <h5>Payroll: Fixed Annual Fees. Fully comprehensive service.<br /><br />All wage slips, RTI filing, P35 filed online, P11d, P14, P60, P45, P46, P38...all forms as required.</h5>
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr><th>Number of Employees</th><th>Weekly Payroll <br />Our Annual Fees ex vat</th><th>Monthly Payroll <br />Our Annual Fees ex vat</th></tr>
                      </thead>
                      <tbody>
                        <tr><td>1-5</td><td>£ 520</td><td>£ 350</td></tr>
                        <tr><td>6-10</td><td>£ 700</td><td>£ 600</td></tr>
                        <tr><td>11-15</td><td>£ 850</td><td>£ 750</td></tr>
                        <tr><td>16-20</td><td>£ 950</td><td>£ 875</td></tr>
                        <tr><td>21-30</td><td>£ 1050</td><td>£ 950</td></tr>
                        <tr><td>31-40</td><td>£ 1475</td><td>£ 1350</td></tr>
                        <tr><td>41-50</td><td>£ 1775</td><td>£ 1650</td></tr>
                        <tr><td>51-75</td><td>£ 2750</td><td>£ 2500</td></tr>
                        <tr><td>76-100</td><td>£ 3150</td><td>£ 2900</td></tr>
                        <tr><td>100+</td><td>Negotiable for all services</td><td>Negotiable for all services</td></tr>
                      </tbody>
                    </table>
                    <h5>Work Place Pensions : Fixed Annual Fees</h5>
                    <table class="table table-bordered">
                      <thead>
                        <tr><th>Number of Employees</th><th>Weekly Payroll <br /> Our Annual Fees ex vat</th><th>Monthly Payroll <br /> Our Annual Fees ex vat</th></tr>
                      </thead>
                      <tbody>
                        <tr><td>1-5</td><td>£ 180</td><td>£ 75</td></tr>
                        <tr><td>6-10</td><td>£ 195</td><td>£ 115</td></tr>
                        <tr><td>11-15</td><td>£ 235</td><td>£ 145</td></tr>
                        <tr><td>16-20</td><td>£ 270</td><td>£ 175</td></tr>
                        <tr><td>21-30</td><td>£ 365</td><td>£ 200</td></tr>
                        <tr><td>31-40</td><td>£ 465</td><td>£ 245</td></tr>
                        <tr><td>41-50</td><td>£ 550</td><td>£ 275</td></tr>
                        <tr><td>51-75</td><td>£ 650</td><td>£ 310</td></tr>
                        <tr><td>76-100</td><td>£ 740</td><td>£ 350</td></tr>
                        <tr><td>100+</td><td>Negotiable for all services</td><td>Negotiable for all services</td></tr>
                      </tbody>
                    </table>
                    <h5>BACS Services : Fees</h5>
                    <table class="table table-bordered">
                      <thead><tr><th>Payment Per Month</th><th>Fee<br />(£ ex vat per Month)</th></tr></thead>
                      <tbody>
                        <tr><td>1 to 35</td><td>£30</td></tr>
                        <tr><td>36 to 50</td><td>£35</td></tr>
                        <tr><td>51 to 75</td><td>£40</td></tr>
                        <tr><td>76 to 100</td><td>£45</td></tr>
                        <tr><td>101 to 150</td><td>£55</td></tr>
                        <tr><td>151 to 200</td><td>£65</td></tr>
                        <tr><td>201 to 250</td><td>£75</td></tr>
                        <tr><td>251+</td><td>To Be Agreed</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <h5>Auto Enrolments - One off Setting Up Fee £125 ex-VAT<br />
                  For more Details please make inquiry with our <a href="https://marsalaccountants.co.uk/contact/">Enquiry Form</a>, we will contact you within 48 business hours</h5>
                </div>
              </div>
            </div>

            <!-- 5. SELF ASSESSMENT & TAX RETURNS -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    SELF ASSESSMENT &amp; TAX RETURNS
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <h5>Self Assessment Tax Return Fees <br />We do Tax Planning Automatically every time we prepare your Self Assessment Tax Return - Individuals</h5><br />
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead><tr><th>Annual Income £</th><th>Fees ex VAT</th></tr></thead>
                      <tbody>
                        <tr><td>To £ 79k</td><td>£ 175</td></tr>
                        <tr><td>£ 80k – £ 124k</td><td>£ 200</td></tr>
                        <tr><td>£125k +</td><td>£ 250</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <h5>For this fixed fee</h5>
                  <div class="divider-content-small"></div>
                  <ul class="content-bullet">
                    <li>We will submit your return electronically to H M Revenue &amp; Customs.</li>
                    <li>We will include all types of incomes &amp; relieves: Employment, Self Employment, Dividends, Rent, Interest, Pension, Gift, Capital Gains, Capital Losses, Donations, Overseas Income etc.</li>
                    <li>We will complete your tax return and all necessary schedules.</li>
                    <li>We will discuss your Tax Return &amp; Tax liability with you.</li>
                    <li>We will also do tax planning for you at this stage.</li>
                    <li>We will send you a full copy and explanatory notes.</li>
                  </ul>
                  <br />
                  <h5>Partnership Tax Return + 2 Partners Self Assessment Returns</h5><br />
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead><tr><th>Combined Annual Income of Partners in £</th><th>Fees ex VAT</th></tr></thead>
                      <tbody>
                        <tr><td>£ 0 – £ 99k</td><td>£ 350</td></tr>
                        <tr><td>£ 100k – £ 149k</td><td>£ 400</td></tr>
                        <tr><td>£ 150k – £ 199k</td><td>£ 500</td></tr>
                        <tr><td>£ 200k +</td><td>£ 600</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <br />
                  <h5>For each additional Partner add £ 175 ex vat</h5><br />
                  <h5>For more Details please make inquiry with our <a href="https://marsalaccountants.co.uk/contact/">Enquiry Form</a>, we will contact you within 48 business hours</h5>
                </div>
              </div>
            </div>

            <!-- 6. BOOKKEEPING -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    BOOKKEEPING
                  </a>
                </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                  <h5>Off-site Bookkeeping Fees</h5><br />
                  <h4>Fixed Fees</h4>
                  <div class="divider-content-small"></div>
                  <ul class="content-bullet">
                    <li>We offer the following service for fixed fees per month</li>
                    <li>Sales Ledger, Purchase Ledger, Creditors list, Debtors list, Bank Reconciliation, VAT Return</li>
                    <li>Collection done weekly, fortnightly, monthly as per your requirement.</li>
                    <li><strong>£13 ex-vat per hour</strong> or we can agree a fixed fee once we understand your requirements</li>
                  </ul>
                  <br />
                  <h5>For more Details please make inquiry with our <a href="https://marsalaccountants.co.uk/contact/">Enquiry Form</a>, we will contact you within 48 business hours</h5>
                </div>
              </div>
            </div>

            <!-- 7. PROPERTY ACCOUNTS -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading7">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    PROPERTY ACCOUNTS
                  </a>
                </h4>
              </div>
              <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                <div class="panel-body">
                  <br />
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <tbody>
                        <tr><td>1 Property</td><td>£ 150 ex vat</td></tr>
                        <tr><td>2 Properties</td><td>£ 250 ex vat</td></tr>
                        <tr><td>3 Properties</td><td>£ 360 ex vat</td></tr>
                        <tr><td>4 Properties</td><td>£ 460 ex vat</td></tr>
                        <tr><td>5 Properties</td><td>£ 550 ex vat</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <h5>Thereafter £ 75 ex vat per extra property</h5><br />
                  <h5>For more Details please make inquiry with our <a href="https://marsalaccountants.co.uk/contact/">Enquiry Form</a>, we will contact you within 48 business hours</h5>
                </div>
              </div>
            </div>

            <!-- 8. STARTING NEW BUSINESS -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading8">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    STARTING NEW BUSINESS
                  </a>
                </h4>
              </div>
              <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                <div class="panel-body">
                  <h4>Ltd Company or LLP – £200 ex vat</h4><br /><br />
                  <h5>This includes</h5>
                  <ul class="content-bullet">
                    <li>Forming a Ltd Company</li>
                    <li>Companies House formalities</li>
                    <li>PAYE Registration</li>
                    <li>VAT Registration</li>
                    <li>We will be your registered office</li>
                  </ul>
                  <br />
                  <h4>Sole Trader or Partnership – No additional fees– This is included within your package</h4>
                  <h5>This includes</h5>
                  <ul class="content-bullet">
                    <li>CWF1…Registration of Business with HM Revenue &amp; Customs</li>
                    <li>PAYE Registration</li>
                    <li>VAT Registration</li>
                  </ul>
                  <br />
                  <h4>Business Consultancy Viability…From £ 1000 ex vat <br /><br />Compliance…Fixed Fee £ 300 ex vat</h4>
                  <br />
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead><tr><th>Business Advice</th><th>Hourly rates ex vat</th></tr></thead>
                      <tbody>
                        <tr><td>Partner</td><td>£230</td></tr>
                        <tr><td>Manager</td><td>£ 130</td></tr>
                        <tr><td>Accountant</td><td>£ 85</td></tr>
                        <tr><td>Clerical</td><td>£ 22.50</td></tr>
                      </tbody>
                    </table>
                  </div>
                  <h5>For more Details please make inquiry with our <a href="https://marsalaccountants.co.uk/contact/">Enquiry Form</a>, we will contact you within 48 business hours</h5>
                </div>
              </div>
            </div>

            <!-- 9. TAX INVESTIGATION -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading9">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    TAX INVESTIGATION
                  </a>
                </h4>
              </div>
              <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                <div class="panel-body">
                  <p>We offer fixed fees for our work, all agreed in advance with you before we start the investigation.</p>
                </div>
              </div>
            </div>

            <!-- 10. ATED Return -->
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="heading10">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    ATED Return
                  </a>
                </h4>
              </div>
              <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                <div class="panel-body">
                  <h5>ATED is an annual tax payable mainly by companies that own single UK residential property valued at more than £500,000.</h5>
                  <br />
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead><tr><th>Number of Properties*</th><th>Fees of ATED return (ex vat)</th></tr></thead>
                      <tbody>
                        <tr><td>1</td><td>£ 150</td></tr>
                        <tr><td>2</td><td>£ 275</td></tr>
                        <tr><td>3</td><td>£ 400</td></tr>
                        <tr><td>4 or more</td><td>Please <a href="mailto:dhruv@doshiaccountants.co.uk">email us</a> to get best quote</td></tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /.panel-group -->
        </div><!-- /.col-sm-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
  
  <!-- SERVICES CAROUSEL -->
  <section class="services-carousel-section">
    <h2 class="carousel-heading">Explore Our Services</h2>
    <div class="section-divider"></div>
    <div class="carousel-container">
      <div class="carousel-track" id="carouselTrack">
        <!-- Original Set of Slides -->
        <div class="service-slide">
          <img src="/icons/icons/accounts-icon.png" alt="Accounting Services">
          <h4><a href="/services/accounting/">Accounting Services</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/bookkeeping-icon.png" alt="Bookkeeping Services">
          <h4><a href="/services/bookkeeping/">Bookkeeping Services</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/mngt-accounts-icon.png" alt="Management Accounts">
          <h4><a href="/services/management-accounts/">Management Accounts</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/payroll-services-icon.png" alt="Payroll Services">
          <h4><a href="/services/payroll/">Payroll Services</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/property-accounts-icon.png" alt="Property Accounts">
          <h4><a href="/services/property-accounts/">Property Accounts</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/self-assessment-tax-returns-icon.png" alt="Self Assessment">
          <h4><a href="/services/self-assessment-tax-returns/">Self Assessment</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/starting-new-business-icon.png" alt="Starting New Business">
          <h4><a href="/services/business-setup/">Starting New Business</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/tax-investigation-icon.png" alt="Tax Investigation">
          <h4><a href="/services/tax-investigation/">Tax Investigation</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/value-added-icon.png" alt="VAT Services">
          <h4><a href="/services/vat/">VAT Services</a></h4>
        </div>
        
        <!-- Duplicate Set for Seamless Loop -->
        <div class="service-slide">
          <img src="/icons/icons/accounts-icon.png" alt="Accounting Services">
          <h4><a href="/services/accounting/">Accounting Services</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/bookkeeping-icon.png" alt="Bookkeeping Services">
          <h4><a href="/services/bookkeeping/">Bookkeeping Services</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/mngt-accounts-icon.png" alt="Management Accounts">
          <h4><a href="/services/management-accounts/">Management Accounts</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/payroll-services-icon.png" alt="Payroll Services">
          <h4><a href="/services/payroll/">Payroll Services</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/property-accounts-icon.png" alt="Property Accounts">
          <h4><a href="/services/property-accounts/">Property Accounts</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/self-assessment-tax-returns-icon.png" alt="Self Assessment">
          <h4><a href="/services/self-assessment-tax-returns/">Self Assessment</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/starting-new-business-icon.png" alt="Starting New Business">
          <h4><a href="/services/business-setup/">Starting New Business</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/tax-investigation-icon.png" alt="Tax Investigation">
          <h4><a href="/services/tax-investigation/">Tax Investigation</a></h4>
        </div>
        <div class="service-slide">
          <img src="/icons/icons/value-added-icon.png" alt="VAT Services">
          <h4><a href="/services/vat/">VAT Services</a></h4>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Contact Us component 
  <ContactUs />

  <!-- Accordion: toggle panels and aria-expanded for styling -->
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const accordion = document.getElementById("accordion");
      if (!accordion) return;

      const links = accordion.querySelectorAll("a[data-toggle='collapse']");
      const allPanels = accordion.querySelectorAll(".panel-collapse");

      function closeAll() {
        allPanels.forEach((panel) => {
          panel.classList.remove("show");
          (panel as HTMLElement).style.display = "none";
        });
        links.forEach((link) => link.setAttribute("aria-expanded", "false"));
      }

      links.forEach((link) => {
        link.addEventListener("click", (e) => {
          e.preventDefault();
          const targetId = link.getAttribute("href");
          if (!targetId) return;
          const target = document.querySelector(targetId);
          if (!target) return;

          const isOpen = target.classList.contains("show");
          closeAll();
          if (!isOpen) {
            target.classList.add("show");
            (target as HTMLElement).style.display = "block";
            link.setAttribute("aria-expanded", "true");
          }
        });
      });

      closeAll();
      const first = document.querySelector("#collapseOne");
      const firstLink = accordion.querySelector("a[href='#collapseOne']");
      if (first && firstLink) {
        first.classList.add("show");
        (first as HTMLElement).style.display = "block";
        firstLink.setAttribute("aria-expanded", "true");
      }
    });
  </script>

</BaseLayout>
